@import "tailwindcss";

:root {
  --container-max-width: 1240px;
}

.container {
  max-width: var(--container-max-width);
  margin-inline: auto;
  width: 100%;
}

@media (max-width: 1290px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.rtl {
  direction: rtl;
}

* {
  box-sizing: border-box;
}

.KumbhSans {
  font-family: "Kumbh Sans", sans-serif;
}

.Plex-Sans {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

/* body {
  text-align: right;
  background-image: linear-gradient(90deg, #003381 0%, #0b3a7f 100%);

  position: relative;
} */

body {
  position: relative; /* ضروري عشان ::before يبقى نسبة ليه */
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(90deg, #003381 0%, #0b3a7f 100%);
  overflow-x: hidden;
  z-index: 10;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/backgrounds/grid-pattern.png");
  background-repeat: repeat;
  background-size: 130px 130px;
  opacity: 0.02;
  transform: scale(1.2);
  transform-origin: top left;
  pointer-events: none;
  filter: invert(1);
  z-index: -10;
}

.boxFet {
  border: 1px solid;

  border-image-source: linear-gradient(90deg, #003381 0%, #0b3a7f 100%);
  background: linear-gradient(
    137.34deg,
    rgba(7, 4, 43, 0.16) 23.98%,
    rgba(112, 113, 122, 0.16) 65.73%
  );
}

.link.active {
  color: #eb5212;
}

.border-gradient {
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #003381 0%, #0b3a7f 100%);
  border-image-slice: 1;
}

.list-disc {
  list-style: disc;
  direction: rtl;
}
